<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/slides/slide-mobile.jpg" style="width:100%;height:auto;" alt="{{ title }}">
    </a>
    <div id="calls-to-action" class="center">
        <p><a class="phone-number" href="tel:{{ newPhone }}">{{ newPhoneNoBreak }}</a></p>
        {% include 'atoms/request-appointment-button.twig' %}
        <p class="existing-text">Existing Patients<br><a class="phone-number small" href="tel:{{ existingPhone }}">{{ existingPhoneNoBreak }}</a></p>
    </div>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper full-screen clearfix customjs">
    <div class="swiper-container swiper-parent customjs">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
             <div class="swiper-slide slide1" style="background: url('assets/slides/slide1.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="slider-caption">
                    <h1 class="slide__title">Dentistry&nbsp;for <strong>Today’s&nbsp;Family</strong></h1>
                    <a href="#" class="btn btn--style-two" data-scrollto="#section-specials" data-offset="0">New Patient Offers</a>
                    <h4 class="slide__copy">Now Welcoming New Patients!</h4>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2" style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="slider-caption">
                    <h1 class="slide__title">No Insurance? <span class="slide__title--sub">Our patients don’t need it!</span></h1>
                    <a href="#" class="btn btn--style-two" data-scrollto="#section-insurance" data-offset="0">Learn More</a>
                    <h4 class="slide__copy">Get your preventive care for a low monthly fee.</h4>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="slider-caption">
                    <div class="wrapper">
                        <h1 class="slide__title">Excellent</h1><img src="/assets/slides/slide-stars.png" alt="Five Stars">
                    </div>
                    <h4 class="slide__copy">“Creekwood Dental is the best dentist office I have <br>ever been to! -Autumn C.</h4>
                    <a href="#" class="btn btn--style-two" data-scrollto="#section-reviews" data-offset="0">READ MORE REVIEWS</a>
                </div>
            </div>

        </div>

        <div class="swiper-button-prev">
            <img src="assets/slides/slide-left.png" alt="Previous Slide">
        </div>
        <div class="swiper-button-next">
            <img src="assets/slides/slide-right.png" alt="Next Slide">
        </div>
    </div>
</section>
 {% include 'atoms/down-arrow.twig' %} 
